{include file="Public:head" /}
{include file="Public:menu" /}
<div class="right">
    <div class="right-container">
        <div class="right-topnav">
            <span>项目审批</span>
        </div>
        <p class="right-bottomline"></p>
        <div class="right-active">
            <div class="right-activeimg">
                <img src="{$Think.STATIC_IMG_URL}{$a_data.title_img}" width="136px" height="81px">
            </div>
            <div class="right-activecont">
                <input type="hidden" value="{$a_data.id}" id="a_id">
                <p class="activ-tit">{$a_data.title}</p>
                <p class="activ-tim">{$a_data.begin_time|date="Y年m月d日 H时i分",###} ~ {$a_data.end_time|date="Y年m月d日 H时i分",###} </p>
                <p class="activ-are">{$a_data.address}</p>
                <p class="activ-deve">{$a_data.type}</p>
                <p class="activ-age">年龄段：{$a_data.min_age}岁-{$a_data.max_age}岁</p>
                <p class="activ-user">负责人：{$a_data.own_user}</p>
                <p class="activ-link">联系方式：{$a_data.tel}</p>
                {switch name="a_data.is_audit" }
                    {case value="-1"}
                        <a href="#" class="activ-button">通过</a>
                        <a href="#" class="activ-buttona">不通过</a>
                    {/case}
                    {case value="0"}
                        <a href="#" class="activ-button">通过</a>
                        <a href="#" class="activ-buttona">不通过</a>
                    {/case}
                    {case value="1"}
                        <a href="#" class="activ-buttona">撤回通过</a>
                    {/case}
                {default /}
                    <a href="#" class="activ-button">通过</a>
                    <a href="#" class="activ-buttona">不通过</a>
                {/switch}
                <a href="#" onclick="history.go(-1)" class="activ-buttonc">返回</a>
                <p class="right-activtit">（不通过请填写意见）</p>
                <textarea name="audit" cols="" rows="" class="right-textare">{$a_data.audit_idea}</textarea>
                <!--
                <input type="button" href="#" class="activ-button" value="提交">
                -->
                <div class="w100 activ-title">
                    <span></span>{$a_data.title}
                </div>
                <div class="w100 activ-font">
                    {$a_data.content}
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

    $(".activ-button").click(function(){
        var id =$("#a_id").val();
        $.ajax( {
            url:"{:url('Activity/set_aduit')}",// 跳转到 action
            data:{
                id:id,
                audit:1,
            },
            type:'post',
            cache:false,
            dataType:'json',
            success:function(data) {
                if(data.status != 1){
                    alert(data.msg);
                }else{
                    alert(data.msg);
                    location.href ="{:url('Activity/index')}";
                }
            },
            error : function() {
                console.log("异常！");
            }
        });
    });

    $(".activ-buttona").click(function(){
        var id =$("#a_id").val();
        var audit_content = $("[name='audit']").val();
        if(audit_content ==''){
            alert('审核意见不能为空');
            $("[name='audit']").focus();
            return false;
        }
        $.ajax( {
            url:"{:url('Activity/set_aduit')}",// 跳转到 action
            data:{
                id:id,
                audit:-1,
                audit_content:audit_content
            },
            type:'post',
            cache:false,
            dataType:'json',
            success:function(data) {
                if(data.status != 1){
                    alert(data.msg);
                }else{
                    alert(data.msg);
                    location.href ="{:url('Activity/index')}";
                }
            },
            error : function() {
                console.log("异常！");
            }
        });
    });
</script>
{include file="Public:footer" /}