{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right" id="outer">
    <div class="right-container">
        <div class="right-topnav">
            <span>编辑项目</span>
        </div>
        <p class="right-bottomline"></p>
        <form id="add_activity" action="{:url('Activity/edit')}" enctype="multipart/form-data" method="post">
            <div class="right-active">
                <input type="hidden" name="a_id" value="{$a_data.id}">
                <div class="right-addinput">
                    <label>标题：</label>
                    <input name="title" type="text"  class="addinput-box" value="{$a_data.title}"/>
                    <span>（标题不能为空）</span>
                </div>
                <div class="right-addinput">
                    <label>区域：</label>
                    <select name="area_id" class="right-addsecelt" style="height:30px; line-height:30px;">
                        {volist name="area_data" id="data"}
                        <option value="{$data.id}" {eq name="$data.id" value="$a_data.area_id"}selected{/eq}>{$data.title}</option>
                        {/volist}
                    </select>
                </div>
                <div class="right-addinput">
                    <label>类型：</label>
                    <select name="type_id" class="right-addsecelt" style="height:30px; line-height:30px;">
                        {volist name="activity_type" id="data"}
                        <option value="{$data.id}" {eq name="$data.id" value="$a_data.type_id"}selected{/eq} >{$data.title}</option>
                        {/volist}
                    </select>
                </div>
                <div class="right-addinput">
                    <label>活动时间：</label>
                    <input name="begin_time" type="text"  class="addinput-box" onclick="laydate({istime: true,format: 'YYYY-MM-DD hh:mm',istoday: true,})" value="{$a_data.begin_time|date='Y-m-d H:i',###}"/>
                    <span>-</span>
                    <input name="end_time" type="text"  class="addinput-box" onclick="laydate({istime: true,format: 'YYYY-MM-DD hh:mm',istoday: true,})" value="{$a_data.begin_time|date='Y-m-d H:i',###}" />
                </div>
                <div class="right-addinput">
                    <label>年龄段：</label>
                    <input name="min_age" type="text"  class="right-addinputone " value="{$a_data.min_age}"/>
                    <span>-</span>
                    <input name="max_age" type="text"  class="right-addinputone "  value="{$a_data.max_age}" />
                </div>
                <div class="right-addinput">
                    <label>负责人：</label>
                    <input name="own_user" type="text"  class="addinput-box"  value="{$a_data.own_user}"/>
                </div>
                <div class="right-addinput">
                    <label>联系方式：</label>
                    <input name="tel" type="text"  class="addinput-box" value="{$a_data.tel}"/>
                </div>
                <div class="right-addinput">
                    <label>详细地址：</label>
                    <input name="address" type="text"  class="addinput-box" value="{$a_data.address}"/>
                </div>
                <div class="right-addinputa">
                    <label>内容：</label>
                    <textarea name="content" class="right-addtextare" id="content">{$a_data.content}</textarea>
                </div>
                <div class="right-addinput">
                    <label>更换图片：</label>
                    <input name="title_img" type="file" id="img"   onchange="previewImage(this)" />
                </div>
                <div id="preview" class="right-addinputa">
                    <label>图片预览：</label>
                    <img  id="imghead" class="right-addtextare" src="{$Think.URL_PIC}{$a_data.title_img}"/>
                </div>
                <div class="right-addinputb">
                    <a href="#" class="add-button">保存</a>
                    <a href="#" onclick="history.go(-1)" class="add-buttona">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    //编辑器
    var editor = UE.getEditor('content');
    //图片预览
    function previewImage(file)
    {
        var MAXWIDTH  = 260;
        var MAXHEIGHT = 180;
        var div = document.getElementById('preview');
        if (file.files && file.files[0])
        {
            div.innerHTML ='<img id=imghead>';
            var img = document.getElementById('imghead');
            img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
            }
            var reader = new FileReader();
            reader.onload = function(evt){img.src = evt.target.result;}
            reader.readAsDataURL(file.files[0]);
        }
        else //兼容IE
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead>';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='margin-left:80px;width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
        }
    }
    function clacImgZoomParam( maxWidth, maxHeight, width, height ){
        var param = {top:0, left:0, width:width, height:height};
        if( width>maxWidth || height>maxHeight )
        {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;

            if( rateWidth > rateHeight )
            {
                param.width =  maxWidth;
                param.height = Math.round(height / rateWidth);
            }else
            {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }

        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }
    //开始结束时间处理
    var beg_time = $("[name='begin_time']").val();
    var end_time = $("[name='end_time']").val();
    $("[name='begin_time']").blur(function(){
        if($(this).val() ==''){
            $(this).val(beg_time);
        }
    });
    $("[name='end_time']").blur(function(){
        if($(this).val() ==''){
            $(this).val(end_time);
        }
    });
    //表单提交
    $(".add-button").click(function(){
        //myalert('你好啊 ');
        var data = $("#add_activity").serializeArray();
        for(i=0;i<data.length;i++){
            var m = data[i]['name'];
            if(data[i]['value'] ==''){
                var msg = $("[name='"+ m +"']").parent().find("label").text();
                //console.log(msg);
                var new_msg = msg.replace(/：/g,'');
                alert( new_msg + '不能为空!');
                $("[name='"+ m +"']").focus();
                return false;

            }
        }

        $("#add_activity").submit();
    });
</script>
{include file="Public:footer" /}