{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right">
    <div class="right-container">
        <div class="right-topnav">
            <span>项目检索</span>
            <input name="status" type="radio" value="2"  {eq name="$Think.get.search" value="2"} checked{/eq} />
            <label>全部</label>
            <input name="status" type="radio" value="1" {eq name="$Think.get.search" value="1"} checked{/eq} />
            <label>已通过</label>
            <input name="status" type="radio" value="-1" {eq name="$Think.get.search" value="-1"} checked{/eq} />
            <label>未通过</label>
            <input name="status" type="radio" value="-2" {eq name="$Think.get.search" value="-2"} checked{/eq} />
            <label>待审核</label>
            <input name="search" type="button" class="right-topbutton" value="筛选"/>
            {volist name='actions' id='a'}
            {if condition="$a.action_function eq 'add'"}
            <input name="add_activity" type="button" class="right-topbuttona" value="新增项目"/>
            {else /}
            {/if}
            {/volist}

        </div>
        <p class="right-bottomline"></p>
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
            <tr class="table-th">
                <td>标题</td>
                <td>所在城区</td>
                <td>活动类型</td>
                <td>发布者</td>
                <td>联系方式</td>
                <td>状态</td>
                <td>发布时间</td>
                <td align="center">操作</td>
            </tr>
            {volist name='list' id='data' empty="暂时没有数据" }
            <tr>
                <input type="hidden" value="{$data.a_id}">
                <td>{$data.title}</td>
                <td>{$data.area}</td>
                <td>{$data.type}</td>
                <td>{$data.name}</td>
                <td>{$data.tel}</td>
                {switch name="data.is_audit" }
                    {case value="-1"} <td class="table-fail">未通过</td>{/case}
                    {case value="0"}<td class="table-middle">待审核</td>{/case}
                    {case value="1"}<td class="table-succ">已通过</td>{/case}
                {default /}
                {/switch}
                <td>{$data.ctime|date="Y-m-d H:i",###}</td>
                <td align="center">
                    {volist name='actions' id='a'}
                    {if condition="$a.action_function eq 'add'"}
                    {else /}
                    {if condition="$a.action_function eq 'del'"}

                    <a href="#" onclick="setStatus(-1,{$data.a_id})" >{$a.describe}</a>
                    <span>|</span>
                    {elseif condition="$a.action_function eq 'is_top'"/}
                        {if condition="$data.is_show == '1'"}
                            <a href="#" onclick="setTop(-1,{$data.a_id})" >取消推荐</a>
                            <span>|</span>
                        {elseif condition="$data.is_show == '-1'"/}
                            <a href="#" onclick="setTop(1,{$data.a_id})" >推荐</a>
                            <span>|</span>
                        {/if}
                    {else /}

                    <a href="{:url($a.action_function,['id'=>$data.a_id])}">{$a.describe}</a>
                    <span>|</span>
                    {/if}
                    {/if}
                    {/volist}
                </td>
            {/volist}
        </table>
        <div class="fy-box">
            <a href="?page=1">&laquo;</a>
            {for start="1" end="$list->lastPage()+1"}
                {notempty  name="$Think.get.search"}
                    {eq name="$Think.get.page" value="$i"}
                    <a href="?search={$Think.get.search}&page={$i}" class="aa" >{$i}</a>
                    {else/}
                    <a href="?search={$Think.get.search}&page={$i}" >{$i}</a>
                    {/eq}
                {else /}
                    {eq name="$Think.get.page" value="$i"}
                    <a href="?page={$i}" class="aa" >{$i}</a>
                    {else/}
                    <a href="?page={$i}" >{$i}</a>
                    {/eq}
                {/notempty}

            {/for}
            <a href="?page={$list->lastPage()}">&raquo;</a>
            <!-- <a href="#" class="bb"><img src="{$Think.STATIC_IMAGE}/pimg3.png"></a>
            <a href="#" class="aa">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#" class="bb"><img src="images/pimg4.png"></a>
            <a href="#" class="bb"><img src="{$Think.STATIC_IMAGE}/pimg4.png"></a>
            -->
        </div>
    </div>
</div>
<script type="text/javascript">

    $("[name='add_activity']").click(function(){
        location.href = "{:url('Activity/add')}";
    });

    function setTop(status, id){
        console.log(status);
        console.log(id);
        var url = "{:url('Activity/set_show')}";
        if( status == 1){
            var msg = '设为推荐 ?';
        }else if(status == -1){
            var msg = '取消推荐 ?';
        }
        public_set(id, status, url, msg );
    }
    function setStatus(status,a_id){
        var res = confirm('确定删除么？');
        $.ajax( {
            url:"{:url('Activity/del')}",// 跳转到 action
            data:{
                id:a_id,
                status:status,
            },
            type:'post',
            cache:false,
            dataType:'json',
            success:function(data) {
                if(data.status != 1){
                    alert(data.msg);
                }else{
                    alert(data.msg);
                    window.location.reload();
                }

            },
            error : function() {
                console.log("异常！");
            }
        });
    }
    $(".right-topbutton").click(function(){
        var search = $("input[name='status']:checked").val();
        if( typeof(search) == 'undefined'){
            search = 2;
        }
        var search_url ="{:url('index')}"+'?search='+search;
        location.href = search_url;

    });
</script>
{include file="Public:footer" /}