{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right">
    <div class="right-container">
        <div class="right-topnav">
            <span>{$activity.title}报名列表</span>
            <input name="title" type="text"  class="addinput-box" value="{$title}"/>
            <input name="" type="button" class="right-topbutton" value="搜索"/>
            <!--<input name="" type="button" class="right-topbuttona" value="导出"/>-->
        </div>
        <p class="right-bottomline"></p>
        <table width="100%" border="1" cellspacing="0" cellpadding="0" >
            <tr class="table-th">
                <td >姓名</td>
                <td>联系方式</td>
                <td>报名时间</td>
                <td align="center">操作</td>
            </tr>
            {volist name='list' id='data' empty="没有报名数据" }
            <tr>
                <input type="hidden" value="{$data.id}">
                <td>{$data.name}</td>
                <td>{$data.mobile}</td>
                <td>{$data.ctime|date="Y-m-d H:i",###}</td>
                <td align="center">
                    <a href="#" onclick="setStatus(-1,{$data.id})" >取消报名</a>
                </td>
                {/volist}
        </table>
        <div class="fy-box">
            <a href="?page=1">&laquo;</a>
            {for start="1" end="$list->lastPage()+1"}
            {notempty  name="$Think.get.title"}
            {eq name="$Think.get.page" value="$i"}
            <a href="?search={$Think.get.title}&page={$i}" class="aa" >{$i}</a>
            {else/}
            <a href="?search={$Think.get.title}&page={$i}" >{$i}</a>
            {/eq}
            {else /}
            {eq name="$Think.get.page" value="$i"}
            <a href="?page={$i}" class="aa" >{$i}</a>
            {else/}
            <a href="?page={$i}" >{$i}</a>
            {/eq}
            {/notempty}

            {/for}
            <a href="?page={$list->lastPage()}">&raquo;</a>
            <!-- <a href="#" class="bb"><img src="{$Think.STATIC_IMAGE}/pimg3.png"></a>
            <a href="#" class="aa">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#" class="bb"><img src="images/pimg4.png"></a>
            <a href="#" class="bb"><img src="{$Think.STATIC_IMAGE}/pimg4.png"></a>
            -->
        </div>
    </div>
</div>
<script type="text/javascript">

    function setStatus(status,a_id){
        var url = "{:url('Activity/del_user')}";
        var msg = '确定取消资格么？';
        public_set(a_id, status, url, msg);

    }
    $(".right-topbutton").click(function(){
        var title = $("[name='title']").val();
        if( title !== '' ){
            var search_url ="{:url('user_list')}"+'?title='+title;
            location.href = search_url;
        }else{
            location.href = "{:url('user_list')}";
        }

    });
</script>

{include file="Public:footer" /}