{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right" id="outer">
    <div class="right-container">
        <div class="right-topnav">
            <span>新增活动掠影</span>
        </div>

        <p class="right-bottomline"></p>
        <form id="add_activity" action="{:url('Cms/add')}" enctype="multipart/form-data" method="post">
            <div class="right-active">
                <div class="right-addinput">
                    <label>标题：</label>
                    <input name="title" type="text"  class="addinput-box"/>
                    <span>（标题不能为空）</span>
                </div>
                <!--
                <div class="right-addinput">
                    <label>项目标题：</label>
                    <input name="a_title" type="text"  class="addinput-box"/>
                    <span>（标题不能为空）</span>
                </div>
                <div class="right-addinput">
                    <label>所属项目：</label>
                    <select name="activity_id" class="right-addsecelt" style="height:30px; line-height:30px;">

                        <option value="1">项目搜索</option>

                    </select>
                </div>
                -->
                <div class="right-addinputa">
                    <label>内容：</label>
                    <textarea name="content" class="right-addtextare" id="content"></textarea>
                </div>
                <div class="right-addinput">
                    <label>封面图片：</label>
                    <input name="title_img" type="file" id="img"   onchange="previewImage(this)" />
                </div>
                <div id="preview" class="right-addinputa">
                    <label>图片预览：</label>
                    <img  id="imghead" class="right-addtextare"/>
                </div>
                <div class="right-addinputb">
                    <a href="#" class="add-button">保存</a>
                    <a href="#" onclick="history.go(-1)" class="add-buttona">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    //编辑器
    var editor = UE.getEditor('content');

    //图片预览
    function previewImage(file)
    {
        var MAXWIDTH  = 260;
        var MAXHEIGHT = 180;
        var div = document.getElementById('preview');
        if (file.files && file.files[0])
        {
            div.innerHTML ='<img id=imghead>';
            var img = document.getElementById('imghead');
            img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
            }
            var reader = new FileReader();
            reader.onload = function(evt){img.src = evt.target.result;}
            reader.readAsDataURL(file.files[0]);
        }
        else //兼容IE
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead>';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='margin-left:80px;width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
        }
    }
    function clacImgZoomParam( maxWidth, maxHeight, width, height ){
        var param = {top:0, left:0, width:width, height:height};
        if( width>maxWidth || height>maxHeight )
        {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;

            if( rateWidth > rateHeight )
            {
                param.width =  maxWidth;
                param.height = Math.round(height / rateWidth);
            }else
            {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }

        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }

    //表单提交
    $(".add-button").click(function(){
        //myalert('你好啊 ');
        var data = $("#add_activity").serializeArray();
        for(i=0;i<data.length;i++){
            var m = data[i]['name'];
            if(data[i]['value'] ==''){
                var msg = $("[name='"+ m +"']").parent().find("label").text();
                //console.log(msg);
                var new_msg = msg.replace(/：/g,'');
                alert( new_msg + '不能为空!');
                $("[name='"+ m +"']").focus();
                return false;

            }
        }
        var file = $("[name='title_img']").val();
        if(file ==''){
            alert('封面图不能为空!');
            return false;
        }
        $("#add_activity").submit();
    });
</script>
{include file="Public:footer" /}