{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right" id="outer">
    <div class="right-container">
        <div class="right-topnav">
            <span>编辑管理员</span>
        </div>
        <p class="right-bottomline"></p>
        <form id="add_activity" action="{:url('Admin/edit')}" enctype="multipart/form-data" method="post">
            <div class="right-active">
                <div class="right-addinput">
                    <input type="hidden" name="u_id" value="{$UserInfo.id}">
                    <label>登录名：</label>
                    <input name="login_name" type="text"  class="addinput-box" value="{$UserInfo.login_name}" />
                    <span>（登录名不能为空）</span>
                </div>
                <div class="right-addinput">
                    <label>登录密码：</label>
                    <input name="password" type="password"  class="addinput-box"/>
                    <span>（无需修改不填写）</span>
                </div>
                <div class="right-addinput">
                    <label>所属区域：</label>
                    <select name="area_id" class="right-addsecelt" style="height:30px; line-height:30px;">
                        {volist name="area_data" id="data"}
                        <option value="{$data.id}" {eq name="$data.id" value="$UserInfo.area_id"}selected{/eq}>{$data.title}</option>
                        {/volist}
                    </select>
                </div>
                <div class="right-addinput">
                    <label>权限组：</label>
                    <select name="power_group_id" class="right-addsecelt" style="height:30px; line-height:30px;">
                        {volist name="power_group" id="data"}
                        <option value="{$data.id}" {eq name="$data.id" value="$UserInfo.power_group_id"}selected{/eq}>{$data.title}</option>
                        {/volist}
                    </select>
                </div>
                <div class="right-addinput">
                    <label>名称：</label>
                    <input name="name" type="text"  class="addinput-box" value="{$UserInfo.name}"/>
                </div>
                <div class="right-addinput">
                    <label>联系方式：</label>
                    <input name="tel" type="text"  class="addinput-box" value="{$UserInfo.tel}"/>
                </div>
                <div class="right-addinput">
                    <label>详细地址：</label>
                    <input name="address" type="text"  class="addinput-box" value="{$UserInfo.address}"/>
                </div>
                <div class="right-addinput">
                    <label>头像：</label>
                    <input name="head_img" type="file" id="img"   onchange="previewImage(this)" />
                </div>
                <div id="preview" class="right-addinputa">
                    <label>图片预览：</label>
                    <img  id="imghead" class="right-addtextare"/>
                </div>
                <div class="right-addinputb">
                    <a href="#" class="add-button">保存</a>
                    <a href="#" onclick="history.go(-1)" class="add-buttona">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">



    //图片预览
    function previewImage(file)
    {
        var MAXWIDTH  = 260;
        var MAXHEIGHT = 180;
        var div = document.getElementById('preview');
        if (file.files && file.files[0])
        {
            div.innerHTML ='<img id=imghead>';
            var img = document.getElementById('imghead');
            img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
            }
            var reader = new FileReader();
            reader.onload = function(evt){img.src = evt.target.result;}
            reader.readAsDataURL(file.files[0]);
        }
        else //兼容IE
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead>';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='margin-left:80px;width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
        }
    }
    function clacImgZoomParam( maxWidth, maxHeight, width, height ){
        var param = {top:0, left:0, width:width, height:height};
        if( width>maxWidth || height>maxHeight )
        {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;

            if( rateWidth > rateHeight )
            {
                param.width =  maxWidth;
                param.height = Math.round(height / rateWidth);
            }else
            {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }

        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }

    //表单提交
    $(".add-button").click(function(){
        //myalert('你好啊 ');
        var data = $("#add_activity").serializeArray();
        for(i=0;i<data.length;i++){
            var m = data[i]['name'];
            if(data[i]['value'] ==''){
                var msg = $("[name='"+ m +"']").parent().find("label").text();
                //console.log(msg);
                var new_msg = msg.replace(/：/g,'');
                alert( new_msg + '不能为空!');
                $("[name='"+ m +"']").focus();
                return false;

            }
        }

        $("#add_activity").submit();
    });
</script>
{include file="Public:footer" /}