{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right">
    <div class="right-container">
        <div class="right-topnav">
            <span>角色项列表</span>
            <input name="title" type="text"  class="addinput-box" value="{$title}"/>
            <input name="" type="button" class="right-topbutton" value="搜索"/>
            {volist name='actions' id='a'}
            {if condition="$a.action_function eq 'add'"}
            <input name="" type="button" class="right-topbuttona" value="新增"/>
            {else /}
            {/if}
            {/volist}
        </div>
        <p class="right-bottomline"></p>
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
            <tr class="table-th">
                <td>登录名</td>
                <td>昵称</td>
                <td>所属区域</td>
                <td>权限组</td>
                <td>联系方式</td>
                <td>状态</td>
                <td align="center">操作</td>
            </tr>
            {volist name='list' id='data' empty="暂时没有数据" }
            <tr>
                <input type="hidden" value="{$data.id}">
                <td>{$data.login_name}</td>
                <td>{$data.name}</td>
                <td>{$data.area_title}</td>
                <td>{$data.group_title}</td>
                <td>{$data.tel}</td>
                {switch name="data.status" }
                    {case value="1"}<td class="table-middle">已禁用</td>{/case}
                    {case value="0"}<td class="table-middle">正常</td>{/case}
                    {default /}
                {/switch}
                <td align="center">
                    {volist name='actions' id='a'}
                        {if condition="$a.action_function eq 'add'"}
                        {else /}

                                {if condition="$a.action_function eq 'del'"}
                                <a href="#" onclick="setStatus(-1,{$data.id})" >{$a.describe}</a>
                                <span>|</span>
                                 {elseif condition="$a.action_function eq 'stop'"}

                                        {switch name="data.status" }
                                        {case value="1"}<a href="#" onclick="setStatus(0,{$data.id})" >启用</a>
                    <span>|</span>{/case}
                                        {case value="0"}<a href="#" onclick="setStatus(1,{$data.id})" >禁用</a>
                    <span>|</span>{/case}{/case}
                                        {default /}
                                        {/switch}
                                 {else /}
                                <a href="{:url($a.action_function,['id'=>$data.id])}">{$a.describe}</a>
                                <span>|</span>
                                {/if}
                        {/if}
                    {/volist}
                </td>
                {/volist}
        </table>
        <div class="fy-box">
            <a href="?page=1">&laquo;</a>
            {for start="1" end="$list->lastPage()+1"}
            {notempty  name="$Think.get.title"}
            {eq name="$Think.get.page" value="$i"}
            <a href="?search={$Think.get.title}&page={$i}" class="aa" >{$i}</a>
            {else/}
            <a href="?search={$Think.get.title}&page={$i}" >{$i}</a>
            {/eq}
            {else /}
            {eq name="$Think.get.page" value="$i"}
            <a href="?page={$i}" class="aa" >{$i}</a>
            {else/}
            <a href="?page={$i}" >{$i}</a>
            {/eq}
            {/notempty}

            {/for}
            <a href="?page={$list->lastPage()}">&raquo;</a>
            <!-- <a href="#" class="bb"><img src="{$Think.STATIC_IMAGE}/pimg3.png"></a>
            <a href="#" class="aa">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#" class="bb"><img src="images/pimg4.png"></a>
            <a href="#" class="bb"><img src="{$Think.STATIC_IMAGE}/pimg4.png"></a>
            -->
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".right-topbuttona").click(function(){
        location.href = "{:url('Admin/add')}";
    });
    function setStatus(status,a_id){
        switch (status){
            case 0:
                msg = '确定此用户?';
                break;
            case 1:
                msg = '确定禁用此用户?';
                break;
            case -1:
                msg = '确定删除此用户?';
                break;
        }
        var res = confirm(msg);
        $.ajax( {
            url:"{:url('Admin/del')}",// 跳转到 action
            data:{
                id:a_id,
                status:status,
            },
            type:'post',
            cache:false,
            dataType:'json',
            success:function(data) {
                if(data.status != 1){
                    alert(data.msg);
                }else{
                    alert(data.msg);
                    window.location.reload();
                }

            },
            error : function() {
                console.log("异常！");
            }
        });
    }
    $(".right-topbutton").click(function(){
        var title = $("[name='title']").val();
        if( title !== '' ){
            var search_url ="{:url('index')}"+'?title='+title;
            location.href = search_url;
        }else{
            location.href = "{:url('index')}";
        }

    });
</script>

{include file="Public:footer" /}