{include file="Public:head" /}
<body style="background:#0a4d8f;" xmlns="http://www.w3.org/1999/html">
<div class="w100">
    <div class="top-box">
        <div class="wauto">
            <strong>青春助跑服务站</strong>
            <span>后台管理系统</span>
        </div>
    </div>
</div>
<div class="w100 body-bg">
    <div class="wauto">
        <div class="login-box">
            <div class="login-cont">
                <form action="{:url('Reg/login')}" method="post" id="login_user">
                <div class="w100">
                    <input name="name" type="text" class="login-input login-marginc"   />
                </div>
                <div class="w100">
                    <input name="pwd" type="password" class="login-input login-margin"   />
                </div>
                <div class="w100">
                    <input name="verity" type="text" class="login-inputa login-margin"  />
                    <p class="login-inputb login-margina" id="verity">{:captcha_img()}</p>
                </div>
                <div class="w100">
                    <input  type="button"  class="login-button" id="login_button"/>
                </div>
                </form>
                <div style="color: red;display: none" id="msg"><p></p></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#login_button").click(function(){
        var name = $("input[name='name']").val();
        if(name == ''){
            alert("请输入用户名");
            $("input[name='name']").focus();
            return false;
        }
        var pwd = $("input[name='pwd']").val();
        if(pwd == ''){
            alert("请输入密码");
            $("input[name='pwd']").focus();
            return false;
        }
        var verity = $("input[name='verity']").val();
        if(verity ==''){
            alert("请输入验证码");
            $("input[name='verity']").focus();
            return false;
        }
        $.ajax( {
            url:"{:url('Reg/login')}",// 跳转到 action
            data:{
                login_name:name,
                login_pwd:pwd,
                verity:verity
            },
            type:'post',
            cache:false,
            dataType:'json',
            success:function(data) {
                if(data.status != 1){
                    $("#verity").find("img").trigger("click");
                    alert(data.msg);
                }else{
                    location.href ="{:url('Activity/index')}";
                }

            },
            error : function() {
                console.log("异常！");
            }
        });
    });
</script>
{include file="Public:footer" /}