<body>
<div class="container">
    <div class="top-box">
        <strong>青春助跑服务站</strong>
        <span>后台管理系统</span>
        <a href="{:url('Reg/logout')}">退出</a>
        <em>您好,{$Think.session.name}</em>
    </div>
    <div class="left">
        <div class="w100 left-margin">
            {volist name="menus" id="data"}
                <div id="nav-a" class="left-nav">
                    <span>{$data.describe}</span>
                </div>
                <ul class="left-navsecond"  id="nav-aa">

                    {volist name="data['c']" id="vo" }
                    <li><a href="{$vo.url}">{$vo.describe}</a></li>
                    {/volist}
                </ul>
            {/volist}

        </div>
    </div>
    <div id="windows">
        <h2><span id="close">X</span></h2>
        <p id="message"></p>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".left-nav").click(function(){
                $(this).next().slideToggle("slow");
            });
            //选中项处理
            var url = window.location.href;
            var now = url.split("/");
            var now_c = now[6];
            var li = $(".left").find('li').find("a");
            for(i=0;i<li.length;i++){
                //console.log(li[i]);
                var b = li[i];
                var a = b.href;
                var c = a.split("/");
                var d = c[6];
                if(d == now_c){
                    $(".left").find("li").eq(i).find("a").addClass("aa");
                    $(".left").find("li").eq(i).parent().css("display","block");
                    $(".left").find("li").eq(i).parent().prev().addClass("aa");
                }
            }
            //console.log(li);
        });
        function myalert(msg){
            var over = document.getElementById("outer");
            var win = document.getElementById("windows");
            over.style.display= "block";
            win.style.display="block";
            $("#message").text(msg);
            var c = document.getElementById("close");
            c.onclick= function(){
                //over.style.display="none";
                win.style.display="none";
            }
        }

        function public_set(id,status,url,msg){
            var res = confirm(msg);
            $.ajax( {
                url:url,// 跳转到 action
                data:{
                    id:id,
                    status:status,
                },
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.status != 1){
                        alert(data.msg);
                    }else{
                        alert(data.msg);
                        window.location.reload();
                    }

                },
                error : function() {
                    console.log("异常！");
                }
            });
        }

    </script>