{include file="Public:head" /}
<div class="w100 line-box"></div>
<!--cont-->
<div class="w100">
    <div class="wauto">
        <div class="activ-img">
            <img src="{$Think.STATIC_PATH}/static/images/jimg16.jpg" width="441" height="260">
        </div>
        <div class="activ-cont">
            <p class="activ-tit">深度心理学的始祖佛洛伊德</p>
            <p class="activ-tim">2016年12月24日  10：00 ~ 2016年12月28日 18：00</p>
            <p class="activ-are">东城区 东长安街33号北京饭店A座1楼</p>
            <p class="activ-deve">成长发展</p>
            <p class="activ-user">负责人：张春雨</p>
            <p class="activ-link">联系方式：18610001000</p>
            <a href="#" class="activ-button">我要报名</a> <a href="#" class="activ-button-1" id="pingjia">评价</a>
        </div>
        <div id="ping">
            <div class="w100 activ-title">
                <span></span>活动评价
            </div>
            <div class="w100 evaluate-box">
                <img src="{$Think.STATIC_PATH}/static/images/jimg19.jpg" width="136" height="81">
                <div class="evaluate-cont">
                    <p class="evaluate-tit">全国升温模式开启 下周气温将转为偏高</p>
                    <p class="evaluate-p">已结束</p>
                    <p class="evaluate-mark">本次活动综合评价：<span>  4.5 </span>分</p>
                </div>
            </div>
            <div class="w100">
                <div class="evaluate-cont-1">
                    <p class="evaluate-cont-tit">请对本次活动进行星级评价。完全满意为5星</p>
                    <div class="w100 evaluate-user">
                        您的评价：
                        <img src="{$Think.STATIC_PATH}/static/images/pimg17.png">
                        <img src="{$Think.STATIC_PATH}/static/images/pimg17.png">
                        <img src="{$Think.STATIC_PATH}/static/images/pimg17.png">
                        <img src="{$Think.STATIC_PATH}/static/images/pimg17.png">
                        <img src="{$Think.STATIC_PATH}/static/images/pimg18.png">
                        <span>4</span>分
                    </div>
                    <textarea name="" cols="" rows="" class="evaluate-textarea">说说您对本次活动的看法</textarea>
                    <div class="w100 evaluate-radio"><input name="" type="radio" value="" />匿名评价</div>
                    <input name="" type="button" class="activ-button-2" value="发表评论" />
                </div>
            </div>
        </div>

        <div class="w100 activ-title">
            <span></span>活动内容
        </div>
        <div class="w100 activ-font">
            <p>
                中国天气网讯 近期，升温将成为我国天气的主旋律。今天（10日）华北、内蒙古等地将开启升温之旅，明天（元宵节）升温范围扩大至北方大部以及江南、华南等地，我国大部地区最高气温将回归到正常水平。尽管最高气温在逐步回升，但今明天早晚气温依旧低迷，公众还需注意保暖。降水方面，今明天雨雪集中在东北和西南地区，当地需关注对交通的不利影响。
            </p>
            <img src="{$Think.STATIC_PATH}/static/images/jimg17.jpg">
            <p>
                中国天气网讯 近期，升温将成为我国天气的主旋律。今天（10日）华北、内蒙古等地将开启升温之旅，明天（元宵节）升温范围扩大至北方大部以及江南、华南等地，我国大部地区最高气温将回归到正常水平。尽管最高气温在逐步回升，但今明天早晚气温依旧低迷，公众还需注意保暖。降水方面，今明天雨雪集中在东北和西南地区，当地需关注对交通的不利影响。
            </p>
            <img src="{$Think.STATIC_PATH}/static/images/jimg17.jpg">
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#ping").hide();
    $("#pingjia").click(function(){
        $("#ping").show();
    });
</script>
{include file="Public:footer" /}