{include file="Public:head" /}

<div class="w100 line-box"></div>
<!--cont-->
<div class="w100">
    <div class="wauto search-box-1">
        <div class="w100 search-bg">
            <div class="search-border">
                <input name="search" type="text"  class="search-input-1" value="搜索您想要的活动"/>
                <input name="" type="button" class="search-button">
            </div>
        </div>
        <div class="w100 line-border">
            <div class="w96">
                <div class="w100 search-icon">
                    <span>时间：</span>
                    <a href="#" class="a-4">全部</a>
                    <a href="#">今天</a>
                    <a href="#">明天</a>
                    <a href="#">本周</a>
                    <a href="#">本月</a>
                    <a href="#">指定日期</a>
                </div>
            </div>
            <div class="w96">
                <div class="w100 search-icon">
                    <span>区域：</span>
                    <a href="#" class="a-4">全市</a>
                    <a href="#">东城区</a>
                    <a href="#">西城区</a>
                    <a href="#">朝阳区</a>
                    <a href="#">海淀区</a>
                    <a href="#">石景山区</a>
                    <a href="#">东城区</a>
                    <a href="#">西城区</a>
                    <a href="#">朝阳区</a>
                    <a href="#">海淀区</a>
                    <a href="#">石景山区</a>
                    <a href="#">东城区</a>
                    <a href="#">西城区</a>
                    <a href="#">朝阳区</a>
                    <a href="#">海淀区</a>
                    <a href="#">石景山区</a>
                </div>
            </div>
            <div class="w96">
                <div class="w100 search-icon">
                    <span>类型：</span>
                    <a href="#" class="a-4">教育辅导</a>
                    <a href="#">东城区</a>
                    <a href="#">西城区</a>
                    <a href="#">朝阳区</a>
                    <a href="#">海淀区</a>
                    <a href="#">石景山区</a>
                    <a href="#">东城区</a>
                    <a href="#">西城区</a>
                    <a href="#">朝阳区</a>
                    <a href="#">海淀区</a>
                    <a href="#">石景山区</a>
                    <a href="#">东城区</a>
                    <a href="#">西城区</a>
                    <a href="#">朝阳区</a>
                    <a href="#">海淀区</a>
                    <a href="#">石景山区</a>
                </div>
            </div>
        </div>
        <div class="w100 line-border"><!--一组数据-->
            <div class="activ-img-1">
                <img src="{$Think.STATIC_PATH}/static/images/jimg18.jpg" width="173" height="130">
            </div>
            <div class="activ-cont-1">
                <p class="activ-tit">深度心理学的始祖佛洛伊德</p>
                <p class="activ-tit">西城</p>
                <p class="activ-tim-1">2017-02-11 </p>
                <span>|</span>
                <p class="activ-are-1">活动地点</p>
                <span>|</span>
                <p class="activ-deve-1">成长发展</p>
            </div>
            <span class="active-mark">进行中</span>
        </div>
        <div class="w100 line-border"><!--一组数据-->
            <div class="activ-img-1">
                <img src="{$Think.STATIC_PATH}/static/images/jimg18.jpg" width="173" height="130">
            </div>
            <div class="activ-cont-1">
                <p class="activ-tit">深度心理学的始祖佛洛伊德</p>
                <p class="activ-tit">西城</p>
                <p class="activ-tim-1">2017-02-11 </p>
                <span>|</span>
                <p class="activ-are-1">活动地点</p>
                <span>|</span>
                <p class="activ-deve-1">成长发展</p>
            </div>
            <span class="active-mark-1">未开始</span>
        </div>
        <div class="w100 line-border"><!--一组数据-->
            <div class="activ-img-1">
                <img src="{$Think.STATIC_PATH}/static/images/jimg18.jpg" width="173" height="130">
            </div>
            <div class="activ-cont-1">
                <p class="activ-tit">深度心理学的始祖佛洛伊德</p>
                <p class="activ-tit">西城</p>
                <p class="activ-tim-1">2017-02-11 </p>
                <span>|</span>
                <p class="activ-are-1">活动地点</p>
                <span>|</span>
                <p class="activ-deve-1">成长发展</p>
            </div>
            <span class="active-mark-2">已结束</span>
        </div>
    </div>
    <div class="wauto">
        <div class="w100 page-fy">
            <input name="" type="button"  class="page-fy-button"/>
            <a href="#" class="aa">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <input name="" type="button"  class="page-fy-button-1"/>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("input[name='search']").focus(function(){
            var tmp_data =  $(this).val();
            $(this).attr("value",'');
            $(this).blur(function(){
                var data = $("input[name='search']").val();
                if(data.length == 0){
                    $(this).attr("value",tmp_data);
                }
            });
    });
    $(".activ-img-1").click(function(){
        window.location.href = "{:url('Activity/detail')}";
    });

</script>
{include file="Public:footer" /}