{include file="Public:head" /}
<!--cont-->
<div class="w100 public-margin">
    <div class="wauto">
        <div class="w100 activ-title-1">
            青春助跑服务站网站介绍
        </div>
        <div class="w100 activ-font">
            <p style="text-indent: 2em;">
                青春助跑服务站是经共青团北京市委员会、北京市民政局批准、共青团北京市委员会权益部主管、北京青少年服务中心运营的全国首个助力青少年成长发展的网络和微信端同步运行的综合服务平台。
            </p>
            <img src="images/jimg17.jpg">
            <p style="text-indent: 2em;">
                服务站由项目公告、项目报道、项目报名、用户登录四大板块组成，为北京市级、区级、街乡共青团及民政部门等部门组织发布者提供便捷的活动、项目、资讯的发布渠道，也便捷了广大青少年了解和获取青春资讯、助跑计划和解疑答惑等信息的最佳桥梁和窗口离。为顺应互联网信息时代青年需求特点，服务站以微信企业号的形式同步实现活动报名、活动通知和互动交流的功能，，让最新活动和项目推送到每个一个青少年的手中，做到活动信息的即时传递与推送。
            </p>
            <img src="images/jimg17.jpg">
        </div>
    </div>
</div>
{include file="Public:footer" /}