{include file="Public:head" /}

<!--搜索-->
<div class="w100">
    <div class="wauto">
        <div class="search-box">
            <label>活动搜索：</label>
            <form action="{:url('Activity/search')}" method="post" id="search">
            <select name="activity_type" class="search-select">
                <option value="0">全部类型</option>
                {volist name="activity_type" id="vo"}
                <option value="{$vo.id}">{$vo.title}</option>
                {/volist}
            </select>
            <select name="activity_area" class="search-select">
                <option value="0">所有区域</option>
                {volist name="activity_area" id="vo"}
                <option value="{$vo.id}">{$vo.title}</option>
                {/volist}
            </select>
            <select name="activity_status" class="search-select">
                <option value="1">未开始</option>
                <option value="2">已结束</option>
                <option value="3">进行中</option>
                <option value="4">全部</option>
            </select>
            <input name="activity_name" type="text" class="search-input" value="请输入关键字搜索"/>
            <input name="" type="button"  class="serach-button"/>
            </form>
        </div>
    </div>
</div>
<!--新闻-->
<div class="w100">
    <div class="wauto">
        <div class="news-box">
            <div class="w96 news-list">
                <div class="news-tit">
                    <span>服务项目报名</span>
                    <a href="{:url('Activity/index')}">更多>></a>
                </div>
                <ul class="w100">
                    {volist name="activity_data" id="vo"}
                    <li>
                        <span></span>
                        <a href="{:url('Activity/detail',['id'=>$vo.id])}">{$vo.title}<img src="{$Think.STATIC_PATH}/static/images/pimg4.png"></a>
                        <strong>{$vo.ctime|date="Y.m.d",###}</strong>
                    </li>
                    {/volist}
                </ul>
            </div>
            <div class="w100 news-img">
                <div id="fsD1" class="focus">
                    <div id="D1pic1" class="fPic">
                        {volist name="activity_data" id="data"}

                        <div class="fcon" style="display: none;">
                            <a target="_blank" href="{:url('Activity/detail',['id'=>$data.id])}"><img src="{$Think.URL_PIC}{$data.title_img}" style="opacity: 1; "></a>
                            <span class="shadow"><a target="_blank" href="{:url('Activity/detail',['id'=>$data.id])}">{$data.title}</a></span>
                        </div>
                        {/volist}

                    </div>
                    <div class="fbg">
                        <div class="D1fBt" id="D1fBt">
                            {volist name="activity_show" id="data"}
                            <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>{$i}</i></a>
                            {/volist}

                        </div>
                    </div>
                    <span class="prev"></span>
                    <span class="next"></span>
                </div>
                <script type="text/javascript">
                    Qfast.add('widgets', { path: "{$Think.STATIC_PATH}/static/js/terminator2.2.min.js", type: "js", requires: ['fx'] });
                    Qfast(false, 'widgets', function () {
                        K.tabs({
                            id: 'fsD1',   //焦点图包裹id
                            conId: "D1pic1",  //** 大图域包裹id
                            tabId:"D1fBt",
                            tabTn:"a",
                            conCn: '.fcon', //** 大图域配置class
                            auto: 1,   //自动播放 1或0
                            effect: 'fade',   //效果配置
                            eType: 'click', //** 鼠标事件
                            pageBt:true,//是否有按钮切换页码
                            bns: ['.prev', '.next'],//** 前后按钮配置class
                            interval: 3000  //** 停顿时间
                        })
                    })
                </script>

            </div>
        </div>
        <div class="news-box">
            <img src="{$Think.STATIC_PATH}/static/images/jimg2.jpg" width="520" height="243">
            <div class="w92 messg-list">
                <div class="messg-tit">
                    <span>青春留言板</span>
                    <a href="{:url('Guestbook/index')}">更多>></a>
                </div>
                <div class="w100 message-margtop ">
                    {volist name="guestbook" id="vo"}
                        <div class="w100 message-box">
                            <div class="message-img">
                                <div class="message-imgmark"></div>
                                {present name="vo.head_img"}
                                <img src="{$Think.STATIC_PATH}{$vo.head_img}">
                                {else /}
                                <img src="{$Think.STATIC_PATH}/static/images/zc-gqt.jpg">
                                {/present}
                            </div>
                            <p class="message-tit">{$vo.name}</p>
                            <p class="message-cont">
                              {$vo.content}
                            </p>
                            <a href="{:url('Guestbook/index')}" class="message-button"><img src="{$Think.STATIC_PATH}/static/images/pimg6.png"></a>
                        </div>
                    {/volist}
                    <div class="w100 message-box">
                        <div class="message-img">
                            <div class="message-imgmark"></div>
                            <img src="{$Think.STATIC_PATH}/static/images/zc-gqt.jpg">
                        </div>
                        <p class="message-tit">宋朝小王子</p>
                        <p class="message-cont">
                            公司(以下简称"海南航空")决定向神舟五号以来历届及将来进入太空的航天英雄提供"海航终身荣誉乘
                        </p>
                        <a href="#" class="message-button"><img src="{$Think.STATIC_PATH}/static/images/pimg6.png"></a>
                    </div>
                    <div class="w100 message-box">
                        <div class="message-img">
                            <div class="message-imgmark"></div>
                            <img src="{$Think.STATIC_PATH}/static/images/zc-gqt.jpg">
                        </div>
                        <p class="message-tit">宋朝小王子</p>
                        <p class="message-cont">
                            公司(以下简称"海南航空")决定向神舟五号以来历届及将来进入太空的航天英雄提供"海航终身荣誉乘
                        </p>
                        <a href="#" class="message-button"><img src="{$Think.STATIC_PATH}/static/images/pimg6.png"></a>
                    </div>
                    <div class="w100 message-box">
                        <div class="message-img">
                            <div class="message-imgmark"></div>
                            <img src="{$Think.STATIC_PATH}/static/images/zc-gqt.jpg">
                        </div>
                        <p class="message-tit">宋朝小王子</p>
                        <p class="message-cont">
                            公司(以下简称"海南航空")决定向神舟五号以来历届及将来进入太空的航天英雄提供"海航终身荣誉乘
                        </p>
                        <a href="#" class="message-button"><img src="{$Think.STATIC_PATH}/static/images/pimg6.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-listbox"><!--活动图片-->
            <p class="img-listmark">活动掠影</p>
            <div class="img-listborder"><!--图片列表-->
                <div class="mr_frbox">
                    <div class="mr_frUl">
                        <ul>
                            {volist name="cms" id="data"}
                            <li><a href="{:url('Cms/detail',['id'=>$data.id])}" target="_blank" title="{$data.title}"><img src="{$Think.URL_PIC}{$data.title_img}" width="233" height="146" /></a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                <script language="javascript">
                    $(".mr_frUl ul li img").hover(function(){$(this).css("border-color","#A0C0EB");},function(){$(this).css("border-color","#d8d8d8")});
                    jQuery(".mr_frbox").slide({titCell:"",mainCell:".mr_frUl ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:4});
                </script>
            </div>
        </div>
        <div class="w100 unit-box"><!--合作单位-->
            <span>合作单位</span>
            <a href="#"><img src="{$Think.STATIC_PATH}/static/images/jimg8.jpg" style="margin-top:15px;"></a>
            <a href="#"><img src="{$Think.STATIC_PATH}/static/images/jimg9.jpg"  style="margin-top:15px;"></a>
            <a href="#"><img src="{$Think.STATIC_PATH}/static/images/jimg10.jpg" height="54"  style="margin-top:5px;"></a>
            <a href="#"><img src="{$Think.STATIC_PATH}/static/images/jimg11.jpg" height="63"></a>
            <a href="#"><img src="{$Think.STATIC_PATH}/static/images/jimg12.jpg" height="37"  style="margin-top:15px;"></a>
            <a href="#"><img src="{$Think.STATIC_PATH}/static/images/jimg13.jpg" height="23"  style="margin-top:20px;"></a>
            <select name="" class="search-select" style="color:#ab0000;">
                <option>北京市朝阳区共青团委网站</option>
                <option>北京市朝阳区共青团委网站</option>
                <option>北京市朝阳区共青团委网站</option>
                <option>北京市朝阳区共青团委网站</option>
            </select>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("[name='activity_name']").focus(function(){
        var v_t = $(this).val();
        if(v_t){
            $(this).val(v_t);
        }
    });
    $(".serach-button").click(function(){$("#search").submit();});
</script>

{include file="Public:footer" /}