{include file="Public:head" /}
<!--cont-->
<div class="w100">
    <div class="wauto">
        <div id="tab">
            <ul class="tab_menu">
                <li class="a-1 selected aa">成长需求</li>
                <li class="a-2 bb">青春感言</li>
                <li class="a-3 cc">活动感受</li>
            </ul>
            <div class="tab_box">
                <div>
                    <div class="w96">
                        <div class="user-img"><img src="{$Think.STATIC_PATH}/static/images/jimg14.jpg"></div>
                        <div class="user-cont">
                            <p class="user-name">宁静</p>
                            <p class="user-time">2016/12/21   18:52</p>
                            <p class="user-font">
                                深度心理学的始祖佛洛伊德有许多的心理学理论受人诟病，但是他主张一个人的成长受到6岁以前成长环境的根本影响，却是受许许多多心理学家的赞同与肯定。
                            </p>
                            <div class="user-phon">
                                <img src="{$Think.STATIC_PATH}/static/images/jimg15.jpg">
                                回复：您好，我是管理员，请发表您的成长需求。
                            </div>
                        </div>
                    </div>
                    <div class="w96">
                        <div class="user-img"><img src="{$Think.STATIC_PATH}/static/images/jimg14.jpg"></div>
                        <div class="user-cont">
                            <p class="user-name">宁静</p>
                            <p class="user-time">2016/12/21   18:52</p>
                            <p class="user-font">
                                深度心理学的始祖佛洛伊德有许多的心理学理论受人诟病，但是他主张一个人的成长受到6岁以前成长环境的根本影响，却是受许许多多心理学家的赞同与肯定。
                            </p>
                            <div class="user-phon">
                                <img src="{$Think.STATIC_PATH}/static/images/jimg15.jpg">
                                回复：您好，我是管理员，请发表您的成长需求。
                            </div>
                        </div>
                    </div>
                    <div class="w96">
                        <div class="user-img"><img src="{$Think.STATIC_PATH}/static/images/jimg14.jpg"></div>
                        <div class="user-cont">
                            <p class="user-name">宁静</p>
                            <p class="user-time">2016/12/21   18:52</p>
                            <p class="user-font">
                                深度心理学的始祖佛洛伊德有许多的心理学理论受人诟病，但是他主张一个人的成长受到6岁以前成长环境的根本影响，却是受许许多多心理学家的赞同与肯定。
                            </p>
                            <div class="user-phon">
                                <img src="{$Think.STATIC_PATH}/static/images/jimg15.jpg">
                                回复：您好，我是管理员，请发表您的成长需求。深度心理学的始祖佛洛伊德有许多的心理学理论受人诟病，但是他主张一个人的成长受到6岁以前成长环境的根本影响，却是受许许多多心深度心理学的始祖佛洛伊德有许多的心理学理论受人诟病，但是他主张一个人的成长受到6岁以前成长环境的根本影响，却是受许许多多心深度心理学的始祖佛洛伊德有许多的心理学理论受人诟病，但是他主张一个人的成长受到6岁以前成长环境的根本影响，却是受许许多多心
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hide">

                </div>
                <div class="hide">

                </div>
            </div>
        </div>
    </div>
</div>
{include file="Public:footer" /}