{include file="Public:head" /}

<div class="w100 line-box"></div>
<!--cont-->
<div class="w100">
    <div class="wauto">
        <div class="w100 activ-title">
            <span></span>活动内容
        </div>
        <div class="w100 activ-font">
            <p>
                中国天气网讯 近期，升温将成为我国天气的主旋律。今天（10日）华北、内蒙古等地将开启升温之旅，明天（元宵节）升温范围扩大至北方大部以及江南、华南等地，我国大部地区最高气温将回归到正常水平。尽管最高气温在逐步回升，但今明天早晚气温依旧低迷，公众还需注意保暖。降水方面，今明天雨雪集中在东北和西南地区，当地需关注对交通的不利影响。
            </p>
            <img src="{$Think.STATIC_PATH}/static/images/jimg17.jpg">
            <p>
                中国天气网讯 近期，升温将成为我国天气的主旋律。今天（10日）华北、内蒙古等地将开启升温之旅，明天（元宵节）升温范围扩大至北方大部以及江南、华南等地，我国大部地区最高气温将回归到正常水平。尽管最高气温在逐步回升，但今明天早晚气温依旧低迷，公众还需注意保暖。降水方面，今明天雨雪集中在东北和西南地区，当地需关注对交通的不利影响。
            </p>
            <img src="{$Think.STATIC_PATH}/static/images/jimg17.jpg">
        </div>
    </div>
</div>

{include file="Public:footer" /}