{include file="Public:head" /}

<div class="w100 line-box"></div>
<!--cont-->
<div class="w100">
    <div class="wauto search-box-1">
        <div class="w100 search-bg">
            <div class="search-border">
                <input name="" type="text"  class="search-input-1" value="搜索您想要的内容"/>
                <input name="" type="button" class="search-button">
            </div>
        </div>

        <div class="w100 line-border"><!--一组数据-->
            <div class="activ-img-1">
                <img src="{$Think.STATIC_PATH}/static/images/jimg18.jpg" width="173" height="130">
            </div>
            <div class="activ-cont-1">
                <p class="activ-tit"><a href="{:url('Cms/detail')}">深度心理学的始祖佛洛伊德</a></p>
                <p class="activ-tim-1">2017-02-11 </p>
            </div>
            <span class="active-mark">进行中</span>
        </div>
        <div class="w100 line-border"><!--一组数据-->
            <div class="activ-img-1">
                <img src="{$Think.STATIC_PATH}/static/images/jimg18.jpg" width="173" height="130">
            </div>
            <div class="activ-cont-1">
                <p class="activ-tit">深度心理学的始祖佛洛伊德</p>
                <p class="activ-tit">西城</p>
                <p class="activ-tim-1">2017-02-11 </p>
                <span>|</span>
                <p class="activ-are-1">活动地点</p>
                <span>|</span>
                <p class="activ-deve-1">成长发展</p>
            </div>
            <span class="active-mark-1">未开始</span>
        </div>
        <div class="w100 line-border"><!--一组数据-->
            <div class="activ-img-1">
                <img src="{$Think.STATIC_PATH}/static/images/jimg18.jpg" width="173" height="130">
            </div>
            <div class="activ-cont-1">
                <p class="activ-tit">深度心理学的始祖佛洛伊德</p>
                <p class="activ-tit">西城</p>
                <p class="activ-tim-1">2017-02-11 </p>
                <span>|</span>
                <p class="activ-are-1">活动地点</p>
                <span>|</span>
                <p class="activ-deve-1">成长发展</p>
            </div>
            <span class="active-mark-2">已结束</span>
        </div>
    </div>
    <div class="wauto">
        <div class="w100 page-fy">
            <input name="" type="button"  class="page-fy-button"/>
            <a href="#" class="aa">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <input name="" type="button"  class="page-fy-button-1"/>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".activ-img-1").click(function(){
        window.location.href = "{:url('Cms/detail')}";
    });

</script>
{include file="Public:footer" /}