{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right" id="outer">
    <div class="right-container">
        <div class="right-topnav">
            <span>新增项目类型</span>
        </div>

        <p class="right-bottomline"></p>
        <form id="add_activity" action="{:url('Type/add')}" enctype="multipart/form-data" method="post">
            <div class="right-active">
                <div class="right-addinput">
                    <label>名称：</label>
                    <input name="title" type="text"  class="addinput-box" />
                    <span>（名称不能为空）</span>
                </div>
                <div class="right-addinputb">
                    <a href="#" class="add-button">保存</a>
                    <a href="" onclick="history.go(-1)" class="add-buttona">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    //表单提交
    $(".add-button").click(function(){
        var describe = $("[name='describe']").val();
        var action_function = $("[name='action_function']").val();
        if(describe ==''){
            alert('标题不能为空!');
            return false;
        }
        $("#add_activity").submit();
    });
</script>
{include file="Public:footer" /}