{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right">
    <div class="right-container">
        <div class="right-topnav">
            <span>管理组权限编辑</span>
        </div>
        <p class="right-bottomline"></p>
        <form action="{:url('Power/add')}" method="post" id="add_activity">
        <div class="right-active">
            <div class="right-addinput">
                <label>组名：</label>
                <input name="title" type="text"  class="addinput-box"/>
                <span>（组名不能为空）</span>
            </div>
            <div class="right-addradio">
                <label>权限：</label>
                {volist name="menu" id="data"}
                    <div  class="addinput-textbox"/>
                    <p class="hulue"><input name="action_ids[]" type="checkbox" value="{$data.id}" class="hulue"/><span>{$data.describe}</span></p>
                    {volist name="data['actions']" id="da"}
                        <input name="action_ids[]" type="checkbox" value="{$da.id}" style="margin-left:20px"/><span>{$da.describe}</span>
                    {/volist}
                    </div>
                {/volist}
            </div>
        </form>
</div>
</div>
<div class="right-addinputb">
    <a href="#" class="add-button">保存</a>
    <a href="#" class="add-buttona">返回</a>
</div>

<script type="text/javascript">
    //表单提交
    $(document).ready(function(){
        $(".add-button").click(function(){
            var describe = $("[name='title']").val();
            if(describe ==''){
                alert('标题不能为空!');
                $("[name='describe']").focus();
                return false;
            }
            var a_ids = $(":checked");
            if(a_ids.length<1){
                alert('请选择相对应权限!');
                return false;
            }
            $("#add_activity").submit();
        });
        $(".right-addradio p :input").change(function(){

           var res = $(this).prop("checked");
           if(res){
               $(this).parent().nextAll().prop("checked",true);
           }else{
               $(this).parent().nextAll().prop("checked",false);
           }

        });
        $(".right-addradio input").not(".hulue").change(function(){
            var a = $(this).prop("checked");
            if(a){
                $(this).parent().find("p :input").prop("checked",true);
            }else{
                var b = $(this).parent().find("input").not(".hulue").is(":checked");
                if(!b){
                    $(this).parent().find("p :input").prop("checked",false);
                }

            }
        });

    });

</script>
{include file="Public:footer" /}