{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right" id="outer">
    <div class="right-container">
        <div class="right-topnav">
            <span>新增权限</span>
        </div>

        <p class="right-bottomline"></p>
        <form id="add_activity" action="{:url('Access/add')}" enctype="multipart/form-data" method="post">
            <div class="right-active">
                <div class="right-addinput">
                    <label>标题：</label>
                    <input name="describe" type="text"  class="addinput-box" />
                    <span>（标题不能为空）</span>
                </div>
                <input type="hidden" name="type" value="2">
                <div class="right-addinput" id="menu">
                    <label>一级菜单：</label>
                    <select name="menu_id" class="right-addsecelt" style="height:30px; line-height:30px;">
                        <option value="0">一级</option>
                        {volist name="menu" id="data"}
                        <option value="{$data.id}">{$data.describe}</option>
                        {/volist}
                    </select>
                </div>
                <div class="right-addinput" id="action_function">
                    <label>具体方法：</label>
                    <input name="action_function" type="text"  class="addinput-box"/>
                    <span>（必须和实际控制器一致）</span>
                </div>
                <div class="right-addinputb">
                    <a href="#" class="add-button">保存</a>
                    <a href="" onclick="history.go(-1)" class="add-buttona">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    /*$(document).ready(function(){
        $("#menu").hide();
        $("[name='type']").change(function(){
            var now = this.value;
            if(now == 1){
                $("#pid").show();
                $("#menu").hide();
            }else if(now == 2){
                $("#menu").show();
                $("#pid").hide();
            }
        });
    });*/
    //表单提交
    $(".add-button").click(function(){

        var describe = $("[name='describe']").val();
        var action_function = $("[name='action_function']").val();
        if(describe ==''){
            alert('标题不能为空!');
            return false;
        }
        if(action_function == ''){
            alert('具体方法不能为空!');
            return false;
        }
        $("#add_activity").submit();
    });
</script>
{include file="Public:footer" /}