<div class="w100 end-bg">
    <div class="wauto">
        <div class="w50">
            <div class="w100 end-link">
                <a href="#">联系我们</a>
                <a href="#">关于我们</a>
                <a href="#">项目简介</a>
                <a href="#">单位合作</a>
            </div>
            <p class="w100 end-phone">全国免费服务热线电话</p>
            <p class="w100 end-phone">800 - 000 - 5341</p>
            <p class="w100 end-phone">010 - 84132457</p>
        </div>
        <div class="w50 end-text">
            <div class="end-imgbox">
                <img src="{$Think.STATIC_PATH}/static/images/pimg8.png">
                <p>关注我们互动好礼等你拿</p>
            </div>
            <div class="end-imgbox">
                <img src="{$Think.STATIC_PATH}/static/images/pimg7.png">
                <p>关注我们了解更多的商品信息</p>
            </div>
            <div class="end-copy">
                <img src="{$Think.STATIC_PATH}/static/images/pimg9.png">
            </div>
        </div>
    </div>
</div>
</body>
</html>