{include file="Public:head" /}
{include file="Public:menu" /}
<h1> 用户需求的确认</h1>
<script type="text/javascript">
    $(".right-topbuttona").click(function(){
        location.href = "{:url('Type/add')}";
    });
    function setStatus(status,a_id){
        var res = confirm('确定删除么？');
        $.ajax( {
            url:"{:url('Type/del')}",// 跳转到 action
            data:{
                id:a_id,
                status:status,
            },
            type:'post',
            cache:false,
            dataType:'json',
            success:function(data) {
                if(data.status != 1){
                    alert(data.msg);
                }else{
                    alert(data.msg);
                    window.location.reload();
                }

            },
            error : function() {
                console.log("异常！");
            }
        });
    }
    $(".right-topbutton").click(function(){
        var title = $("[name='title']").val();
        if( title !== '' ){
            var search_url ="{:url('index')}"+'?title='+title;
            location.href = search_url;
        }else{
            location.href = "{:url('index')}";
        }

    });
</script>

{include file="Public:footer" /}