{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right" id="outer">
    <div class="right-container">
        <div class="right-topnav">
            <span>新增区域</span>
        </div>

        <p class="right-bottomline"></p>
        <form id="add_activity" action="{:url('Area/add')}" enctype="multipart/form-data" method="post">
            <div class="right-active">
                <div class="right-addinput">
                    <label>名称：</label>
                    <input name="title" type="text"  class="addinput-box" />
                    <span>（名称不能为空）</span>
                </div>
                <div class="right-addinput" id="menu">
                    <label>类型：</label>
                    <select name="type" class="right-addsecelt" style="height:30px; line-height:30px;">
                        <option value="1">项目区域</option>
                        <option value="2">管理员组织</option>
                    </select>
                </div>
                <div class="right-addinput" id="action_function">
                    <label>所属区域：</label>
                    <select name="pid" class="right-addsecelt" style="height:30px; line-height:30px;">
                        <option value='0'>一级</option>
                        {volist name="a" id="da"}
                        <option value="{$da.id}">{$da.title}</option>
                        {/volist}
                    </select>
                </div>
                <div class="right-addinputb">
                    <a href="#" class="add-button">保存</a>
                    <a href="" onclick="history.go(-1)" class="add-buttona">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    /*$(document).ready(function(){
     $("#menu").hide();
     $("[name='type']").change(function(){
     var now = this.value;
     if(now == 1){
     $("#pid").show();
     $("#menu").hide();
     }else if(now == 2){
     $("#menu").show();
     $("#pid").hide();
     }
     });
     });*/

    $("[name='type']").change(function(){
        var type = $(this).val();
        //console.log(type);
        area(type);
    });
    //console.log(area);
    function area(type){
        var areas = {$a|json_encode} ;
        var admin_area = {$b|json_encode} ;
        var area_s = $("[name='pid']");
        area_s.empty();
        area_s.append("<option value='0'>一级</option>");
        if(type == 1){
            for(i=0;i<areas.length;i++){
                var v_id = areas[i]['id'];
                var title =  areas[i]['title'];
                area_s.append("<option value='"+v_id+"'>"+title+"</option>");
            }
        }else if(type == 2){
            for(i=0;i<admin_area.length;i++){
                var v_id = admin_area[i]['id'];
                var title =  admin_area[i]['title'];
                area_s.append("<option value='"+v_id+"'>"+title+"</option>");
            }
        }
    }
    //表单提交
    $(".add-button").click(function(){

        var describe = $("[name='describe']").val();
        var action_function = $("[name='action_function']").val();
        if(describe ==''){
            alert('标题不能为空!');
            return false;
        }
        $("#add_activity").submit();
    });
</script>
{include file="Public:footer" /}