{include file="Public:head" /}
{include file="Public:menu" /}

<div class="right" id="outer">
    <div class="right-container">
        <div class="right-topnav">
            <span>编辑区域</span>
        </div>

        <p class="right-bottomline"></p>
        <form id="add_activity" action="{:url('Area/edit')}" enctype="multipart/form-data" method="post">
            <div class="right-active">
                <div class="right-addinput">
                    <label>名称：</label>
                    <input name="title" type="text"  class="addinput-box" value="{$area.title}" />
                    <span>（名称不能为空）</span>
                    <input type="hidden" value="{$area.id}" name="a_id">
                    <input type="hidden" value="{$area.pid}" name="a_pid">
                </div>
                <div class="right-addinput" id="menu">
                    <label>类型：</label>
                    <select name="type" class="right-addsecelt" style="height:30px; line-height:30px;">
                        <option value="1" {eq name="$area.type" value="1"}selected{/eq} >项目区域</option>
                        <option value="2" {eq name="$area.type" value="2"}selected{/eq} >管理员组织</option>
                    </select>
                </div>
                <div class="right-addinput" id="action_function">
                    <label>所属区域：</label>
                    <select name="pid" class="right-addsecelt" style="height:30px; line-height:30px;">
                        <option value='0' {eq name="$area.pid" value="0"}selected{/eq}>一级</option>
                        {volist name="a" id="da"}
                        <option value="{$da.id}" {eq name="$da.id" value="$area.pid"}selected{/eq}>{$da.title}</option>
                        {/volist}
                    </select>
                </div>
                <div class="right-addinputb">
                    <a href="#" class="add-button">保存</a>
                    <a href="" onclick="history.go(-1)" class="add-buttona">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    /*$(document).ready(function(){
     $("#menu").hide();
     $("[name='type']").change(function(){
     var now = this.value;
     if(now == 1){
     $("#pid").show();
     $("#menu").hide();
     }else if(now == 2){
     $("#menu").show();
     $("#pid").hide();
     }
     });
     });*/

    $("[name='type']").change(function(){
        var type = $(this).val();
        area(type);
    });
    //console.log(area);
    function area(type){
        var areas = {$a|json_encode} ;
        var admin_area = {$b|json_encode} ;
        var area_s = $("[name='pid']");
        var now_pid = $("[name='a_pid']").val();
        var now_id = $("[name='a_id']").val();
        area_s.empty();
        if(now_pid==0){
            area_s.append("<option value='0' checked>一级</option>");
        }else{
            area_s.append("<option value='0' >一级</option>");
        }

        if(type == 1){
            for(i=0;i<areas.length;i++){
                var v_id = areas[i]['id'];
                var title =  areas[i]['title'];
                if(v_id == now_id){
                    continue;
                }
                if(v_id == now_pid){
                    area_s.append("<option value='"+v_id+"'checked>"+title+"</option>");
                }else{
                    area_s.append("<option value='"+v_id+"'>"+title+"</option>");
                }

            }
        }else if(type == 2){
            for(i=0;i<admin_area.length;i++){
                var v_id = admin_area[i]['id'];
                var title =  admin_area[i]['title'];
                if(v_id == now_id){
                    continue;
                }
                if(v_id == now_pid){
                    area_s.append("<option value='"+v_id+"'checked>"+title+"</option>");
                }else{
                    area_s.append("<option value='"+v_id+"'>"+title+"</option>");
                }
            }
        }
    }
    //表单提交
    $(".add-button").click(function(){

        var describe = $("[name='describe']").val();
        var action_function = $("[name='action_function']").val();
        if(describe ==''){
            alert('标题不能为空!');
            return false;
        }
        $("#add_activity").submit();
    });
</script>
{include file="Public:footer" /}