{include file="Public:head" /}
<!--top-->
<div class="w100 top-bg">
    <div class="top-log">
        <img src="{$Think.STATIC_PATH}/static/images/pimg19.png">
        <span>欢迎登录</span>
    </div>

</div>
<!--登录-->
<div class="w100 login-bg">
    <div class="wauto-login">
        <div class="login-box">
            <div class="login-inputbox">
                <input name="" type="text" class="login-inputa" value="账号/手机号/邮箱" />
                <input name="" type="password" class="login-inputa login-inputb" value="......" />
            </div>
            <input name="" type="button" class="login-button"/>
            <div class="login-text">
                <!--<span>还没有账号？</span>
                <a href="#" class="login-texta">立即注册＞＞＞</a>
                -->
                <a href="#" class="login-textb">忘记密码？</a>
            </div>
        </div>

    </div>
</div>
<!--end-->
<script type="text/javascript">
    $("#top_nav").hide();
    $("#menu").hide()
    $("#top_banner").hide()
</script>
{include file="Public:footer" /}